<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

	<featureManager>
		<feature>servlet-3.1</feature>
		<feature>jaxws-2.2</feature>
		<feature>jaxrsClient-2.0</feature>
		<feature>cloudant-1.0</feature>
	</featureManager>

	<httpEndpoint id="defaultHttpEndpoint" host="*" httpPort="${httpPort}" httpsPort="${httpsPort}" />

	<application name="leasing" context-root="/" location="${wlp.install.dir}/../../${appLocation}" type="war" />

	<keyStore id="defaultKeyStore" password="leasing" />

</server>